.bg-container {
  background-image: url("https://img.freepik.com/premium-photo/winter-time-thermometer-snow-with-blur-backround-shows-low-temperatures-celsius-farenheit_527096-8966.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.glass-card {
  background: rgba(255, 255, 255, 0.584);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #c71d1d;
}

h2,h4 {
  color: #ce1818;
}
